<template>
  <div class="container mx-auto px-4 pt-20">
    <div class="title-app" align="right">
      <span>AMOBASOFTWARE</span>
    </div>
    <HeaderAppComponent></HeaderAppComponent>
    <div class="list-items mt-10">
      <div class="card mt-2" v-for="(element, index) in usersVuex" :key="index">
        <ItemListComponent :data="element"></ItemListComponent>
      </div>
      <div class="card" v-if="usersVuex.length === 0">
        <span class="mt-10">No hay contactos registrados aun</span>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import HeaderAppComponent from "@/components/HeaderApp/Index.vue";
import ItemListComponent from "@/components/ItemList/Index.vue";
import { mapGetters } from "vuex";

export default {
  name: "Home",
  components: {
    HeaderAppComponent,
    ItemListComponent
  },
  computed: {
    ...mapGetters({
      usersVuex: "users/users"
    })
  },
  mounted() {
    this.$store.dispatch("users/GET_USERS");
  }
};
</script>

<style>
.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #a0a0a0bf;
  border-radius: 12px !important;
  opacity: 1;
  height: 114px;
  border: none;
}

.list-items {
  height: calc(100vh - 320px);
  overflow: auto;
  overflow-x: hidden;
}
</style>
