<template>
  <div
    class="fadeBlur animate__animated animate__fadeIn d-flex justify-content-center align-items-center text-black-50"
  >
    <div class="box shadow" v-click-outside="hide">
      <div class="header text-left py-3 px-4 border-bottom">
        Agregar nuevo contacto
      </div>
      <div class="body px-5 pt-3">
        <div class="d-flex align-items-center">
          <span> Cargar una imagen </span>
          <div
            class="btn btn-outline-light img-box mx-3 d-flex align-items-center justify-content-center"
          >
            <b-icon-arrow-up-square class="icon-arrow"></b-icon-arrow-up-square>
          </div>
        </div>
        <div class="mt-2">
          <label for="name" class="w-100">
            <span class="text-dark">
              Nombre <span class="text-danger">*</span>
            </span>
            <b-form-input
              v-model="user.first_name"
              class="w-100 p-2"
              id="name"
              type="text"
            ></b-form-input>
          </label>
          <label for="lastName" class="w-100">
            <span class="text-dark">
              Apellido <span class="text-danger">*</span>
            </span>
            <b-form-input
              v-model="user.last_name"
              class="w-100 p-2"
              id="name"
              type="text"
            ></b-form-input>
          </label>
        </div>

        <div class="mt-2">
          <label for="name" class="w-100">
            <span class="text-dark">
              descripcion <span class="text-danger">*</span>
            </span>
            <b-form-input
              v-model="user.description"
              class="w-100 p-2"
              id="description"
              type="text"
            ></b-form-input>
          </label>
        </div>
        <div class="row mt-2">
          <button
            @click="send"
            class="btn btn-warning text-white text-center mx-auto px-5"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import { BIconArrowUpSquare } from "bootstrap-vue";

export default {
  name: "ModalComponent",
  directives: {
    ClickOutside
  },
  components: {
    BIconArrowUpSquare
  },
  methods: {
    hide() {
      this.$store.dispatch("updateModal");
    },
    send() {
      if (this.user.name == "" || this.user.description == "") {
        this.$notify({
          group: "foo",
          title: "Error",
          text: "Debe completar todos los campos correctamente",
          type: "warn",
          duration: 3000
        });
        return;
      }

      this.axios
        .post(`/users`, {
          first_name: this.user.first_name,
          last_name: this.user.last_name,
          description: this.user.description
        })
        .then(() => {
          this.$store.dispatch("updateModal");
          this.$store.dispatch("users/GET_USERS");
          this.$notify.success("User create success");
        });
    }
  },
  data: () => ({
    user: {
      id: 0,
      first_name: "",
      last_name: "",
      description: ""
    }
  })
};
</script>

<style scoped>
.fadeBlur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  z-index: 1;
}

.header {
  background: white;
  font-weight: 500;
}

.box {
  width: 450px;
  height: 420px;
}

.img-box {
  height: 60px;
  width: 60px;
  border: 1px dashed #ddd !important;
}

.icon-arrow {
  color: #4caf50;
  font-size: 25px;
}

.btn-warning {
  background: #f49115;
  border: 1px solid #f89110;
}

input,
textarea {
  outline: 0 !important;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 6px;
  resize: none;
}

.body {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
}
</style>
