<template>
  <div class="mt-20">
    <div class="grid grid-cols-2">
      <div class="relative">
        <b-icon-search
          style="width: 22px;height: 22px;position: absolute;left: 10px;top: 13px;color: orange"
        ></b-icon-search>
        <b-form-input
          v-model="text"
          class="amoba-input"
          placeholder="Buscar Persona"
        ></b-form-input>
      </div>
      <div align="right">
        <button
          @click.stop.prevent="openModal"
          class="amoba-button uppercase rounded-md px-8 py-2 bg-yellow-500 text-blue-50 max-w-max shadow-sm hover:shadow-md"
        >
          Nuevo Contacto
        </button>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { BIconSearch } from "bootstrap-vue";

export default {
  name: "HeaderApp",
  components: {
    BIconSearch
  },
  data() {
    return {
      text: ""
    };
  },
  methods: {
    openModal() {
      this.$store.dispatch("updateModal");
    }
  }
};
</script>

<style scoped>
.amoba-input {
  border-radius: 12px;
}

.relative {
  position: relative;
}

.form-control {
  padding: 0.375rem 2.75rem !important;
  width: 321px !important;
  height: 50px !important;
}

.amoba-button {
  width: 197px;
  height: 50px;
  font-size: 14px;
}
</style>
