<template>
  <div id="app">
    <router-view />
    <modal-component v-if="this.$store.state.openModal"></modal-component>
  </div>
</template>

<script>
// @ is an alias to /src
import ModalComponent from "@/components/Modal/Index.vue";

export default {
  name: "App",
  components: {
    ModalComponent
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #d3d3d3 0% 0% no-repeat padding-box;
  height: 100vh;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
