<template>
  <div class="row">
    <div class="col-md-1 py-3">
      <b-avatar
        style="width: 72px;
height: 72px;"
      ></b-avatar>
    </div>
    <div class="col-md-2 py-4" align="left">
      <b-form-input
        class="amoba-input input-edit"
        type="text"
        v-if="edit"
        v-model="first_name"
      ></b-form-input>
      <b-form-input
        class="amoba-input mt-1 input-edit"
        type="text"
        v-if="edit"
        v-model="last_name"
      ></b-form-input>
      <span class="names" v-if="edit === false"
        >{{ data.first_name }} {{ data.last_name }}</span
      ><br />
      <span @click="deleteItem(data.id)" v-if="edit === false" class="delete"
        >Eliminar</span
      >
    </div>
    <div class="col-md-8 py-4" align="left">
      <b-form-input
        type="text"
        class="ml-5 input-edit"
        v-if="edit"
        v-model="description"
      ></b-form-input>
      <span v-else class="description">{{ data.description }}</span>
    </div>
    <div class="col-md-1 padding-top pr-2">
      <b-icon-check-square
        class=""
        v-if="edit"
        @click="saveItem"
        style="width: 22px; height: 22px;cursor: pointer;"
      ></b-icon-check-square>
      <b-icon-pencil
        class=""
        v-else
        @click="editItem"
        style="width: 22px; height: 22px;cursor: pointer;"
      ></b-icon-pencil>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "ItemList",
  props: {
    // Wikis data
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      edit: false,
      first_name: "",
      last_name: "",
      description: ""
    };
  },
  mounted() {
    this.first_name = this.data.first_name;
    this.last_name = this.data.last_name;
    this.description = this.data.description;
  },
  methods: {
    deleteItem(element) {
      this.$store.dispatch("users/DELETE_USER", element).then(() => {
        this.$store.dispatch("users/GET_USERS");
        this.$notify.success("User delete success");
      });
    },
    editItem() {
      this.edit = true;
    },
    saveItem() {
      this.axios
        .put(`/users/` + this.data.id, {
          first_name: this.first_name,
          last_name: this.last_name,
          description: this.description
        })
        .then(() => {
          this.edit = false;
          this.$store.dispatch("users/GET_USERS");
          this.$notify.success("User update success");
        });
    }
  }
};
</script>

<style>
.amoba-input {
  width: 100px;
}

.input-edit {
  background: #fcfbf5 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6;
}

.names {
  font-size: 20px;
}

.padding-top {
  padding-top: 43px !important;
}

.description {
  font-size: 14px;
}

.delete {
  color: #f89110;
  cursor: pointer;
}
</style>
